<a href="https://colab.research.google.com/github/Flossia/PythonFYCS/blob/main/Database_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pwd

/content/drive/MyDrive/Database

In [ ]:
!ls

drive  sample_data

In [ ]:
cd drive/MyDrive/Database

[Errno 2] No such file or directory: 'drive/MyDrive/Database'
/content/drive/MyDrive/Database

In [ ]:
!ls

my_db.db

In [ ]:
import sqlite3
from sqlite3 import Error

In [ ]:
conn = sqlite3.connect('my_db.db')

In [ ]:
c = conn.cursor()

In [ ]:
#create table
c.execute('''CREATE TABLE students3
             (rollno real, name text, class real)''')

In [ ]:
#commit the changes to db			
conn.commit()

In [ ]:
c.execute('''INSERT INTO students3
             VALUES(1, 'Flosia', 8)''')

In [ ]:
c.execute('''INSERT INTO students3
             VALUES(2, 'Abcd', 8)''')

In [ ]:
c.execute('''INSERT INTO students3
             VALUES(3, 'xyz', 8)''')

In [ ]:
c.execute('''SELECT * FROM students3''')

In [ ]:
rows = c.fetchall()
 
for row in rows:
	print(row)

(1.0, 'Flosia', 8.0)
(2.0, 'Abcd', 8.0)
(3.0, 'xyz', 8.0)

In [ ]:
# update row from table
c.execute('''UPDATE students SET name = "Pqrs" WHERE rollno = 1''')

In [ ]:
# delete all rows from table
c.execute('DELETE FROM students;');