<a href="https://colab.research.google.com/github/Flossia/PythonFYCS/blob/main/Date_and_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Epoch**

In [ ]:
import time
time.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [ ]:
import time
time.gmtime()

time.struct_time(tm_year=2022, tm_mon=3, tm_mday=16, tm_hour=14, tm_min=14, tm_sec=47, tm_wday=2, tm_yday=75, tm_isdst=0)

**To check values of time attributes**

In [ ]:
import datetime
a = datetime.time(2,10,15,20)
print(a)
print("Hour is:", a.hour)
print("Minutes is:",a.minute)
print("Seconds is",a.second)
print("Microseconds is",a.microsecond)

02:10:15.000020
Hour is: 2
Minutes is: 10
Seconds is 15
Microseconds is 20

**To check values of Date Attributes**

In [ ]:
import datetime
current_day =datetime.date.today()
print(current_day)
print("Year is",current_day.year)
print("Month is",current_day.month)
print("Day is",current_day.day)

2022-03-19
Year is 2022
Month is 3
Day is 19

**To print datetime of year now**

In [ ]:
import datetime
DTnow = datetime.datetime.now()
print("Current Year is: %d" % DTnow.year)
print("Current Month is:%d" % DTnow.month)
print("Current Day is:%d" % DTnow.day)
print("Current Hour is:%d" % DTnow.hour)
print("Current Minute is:%d" % DTnow.minute)
print("Current Second is:%d" % DTnow.second)
print("Current Microsecond is: %d" % DTnow.microsecond)

Current Year is: 2022
Current Month is:3
Current Day is:16
Current Hour is:5
Current Minute is:42
Current Second is:52
Current Microsecond is: 883741

In [ ]:
import datetime
print("Present datetime is", datetime.datetime.now())
print("Datetime of today is", datetime.datetime.today())
print("Present UTC is", datetime.datetime.utcnow())
x = datetime.datetime.now()
for var in ['year','month', 'day', 'hour', 'minute', 'second', 'microsecond']:
  print(var, 'is', getattr(x,var))

Present datetime is 2022-03-19 06:59:35.878893
Datetime of today is 2022-03-19 06:59:35.880903
Present UTC is 2022-03-19 06:59:35.881992
year is 2022
month is 3
day is 19
hour is 6
minute is 59
second is 35
microsecond is 882793

**Formatting date and time**

In [ ]:
import datetime
format = "%a %b %d %H:%M:%S %Y"
today = datetime.datetime.today()
print("Printing datetime as per ISO:", today)
x = today.strftime(format)
print("Printing datetime using strftime:", x)
y = datetime.datetime.strptime(x, format)
print("Printing datetime using strptime:", y.strftime(format))

Printing datetime as per ISO: 2022-03-16 06:03:18.858600
Printing datetime using strftime: Wed Mar 16 06:03:18 2022
Printing datetime using strptime: Wed Mar 16 06:03:18 2022

**TimeDelta**

In [ ]:
import datetime
print("Printing the value of seconds:", datetime.timedelta(seconds=5))
print("Printing the value of hours:", datetime.timedelta(hours=5))
print("Printing the value of days:", datetime.timedelta(days=5))
print("Printing the value of weeks:", datetime.timedelta(weeks=5))
print("Printing the value of microseconds:", datetime.timedelta(microseconds=5))
print("Printing the value of milliseconds:", datetime.timedelta(milliseconds=5))

Printing the value of seconds: 0:00:05
Printing the value of hours: 5:00:00
Printing the value of days: 5 days, 0:00:00
Printing the value of weeks: 35 days, 0:00:00
Printing the value of microseconds: 0:00:00.000005
Printing the value of milliseconds: 0:00:00.005000

In [ ]:
import time
start_time = time.time()
end_time = time.time()
print(end_time - start_time)

2.6464462280273438e-05

**Time taken by program for executiom**

In [ ]:
import time
start_time = time.time()
a = 7
b = 3
c = 9
d = 11
e = 19
avg = (float(a)+float(b)+float(c)+float(d)+float(e))/5
print("Average marks of 5 subjects = ", avg)
end_time = time.time()
print("Time taken to calculate the program", end_time - start_time)

Average marks of 5 subjects =  9.8
Time taken to calculate the program 0.0011174678802490234

**Calendar module**

In [ ]:
import calendar
x = calendar.TextCalendar(calendar.SUNDAY)
x.prmonth(2018,7)

     July 2018
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

**Sorting Dates**

In [ ]:
from datetime import datetime
list_of_dates = ['18/Dec/18','28/Apr/17','13/Dec/18','01/Dec/16','09/Mar/17']
list_of_dates.sort(key= lambda date:datetime.strptime(date,"%d/%b/%y"))
print(list_of_dates)

['01/Dec/16', '09/Mar/17', '28/Apr/17', '13/Dec/18', '18/Dec/18']

**Stopping Execution Temporarily**

In [ ]:
import time
time.sleep(5)
print("Printing after 5 seconds")
time.sleep(10)
print("Printing after 10 seconds")
time.sleep(3)
print("Printing after 3 seconds")

Printing after 5 seconds
Printing after 10 seconds
Printing after 3 seconds

**Comparing two dates**

In [ ]:
import datetime
import time
print("Times Comparison")
time1 = datetime.time(10, 45, 0)
print("\ttime1:", time1)
time2 = datetime.time(11, 8, 0)
print("\ttime2:", time2)
print("time1<time2:", time1<time2)

Times Comparison
	time1: 10:45:00
	time2: 11:08:00
time1<time2: True