<a href="https://colab.research.google.com/github/Flossia/PythonFYCS/blob/main/Regular_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Example 1:**Find all the matches for dog and dogs in the given text

In [ ]:
txt = """
I have 2 dogs. One dog is one year old and other one is 2 years old. Both dogs are very cute!
"""

In [ ]:
import re
pattern = re.compile("dogs?")
pattern.findall(txt)

['dogs', 'dog', 'dogs']

In [ ]:
import re
txt = """
c
cat 
cst
cit
cot
cvt
ct
caaaaaaaaaaat
"""
pattern = re.compile("c[aeiou]*t")
pattern.findall(txt)

['cat', 'cit', 'cot', 'ct', 'caaaaaaaaaaat']

In [ ]:
import re
txt = """
A
Aa
ABD
Ac
Aaa
"""
pattern = re.compile("A[a-z]?")
pattern.findall(txt)

['A', 'Aa', 'A', 'Ac', 'Aa']

**Example 2:**
Find all the filenames with file and ending with .txt in the given text.

In [ ]:
txt = """
file1.txt
file_one.txt
file.txt
fil.txt
file.xml
file123456.txt
"""

In [ ]:
import re
pattern = re.compile("file\w*\.txt")
pattern.findall(txt)

['file1.txt', 'file_one.txt', 'file.txt', 'file123456.txt']

**Example 3:**
Find all filenames with file followed by 1 or more digits and ending with .txt in the given text.

In [ ]:
txt = """
file1.txt
file_one.txt
file.txt
fil.txt
file.xml
file123.txt
file345.xml
"""

In [ ]:
import re
pattern = re.compile("file\d+\.xml")
pattern.findall(txt)

['file345.xml']

**Example 4**: Find years in given text.

In [ ]:
txt = """
The first season of IPL was played in 20084.
The second season was played in 2009 in South Africa.
Last season was played in 2018 and won by CSK.
CSK won the title in 2010 and 3011 as well.
MI also won the title 3 times in 2013, 2015 and 2017.
"""

In [ ]:
import re

In [ ]:
pattern = re.compile("[0-9]\d{4}")
pattern.findall(txt)

['20084']

**Example 5:**
In the given text, filter out all 4 or more digit number.

In [ ]:
txt = """
1234321
432
5657
4435
54
651111
"""

In [ ]:
pattern = re.compile("\d{1,4}")
pattern.findall(txt)

['1234', '321', '432', '5657', '4435', '54', '6511', '11']

**Example 6:**
Write a pattern to validate telephone numbers.

In [ ]:
txt = """
555-555-5555
555 555 5555
5555555555
"""

In [ ]:
pattern = re.compile("\d{3}\d{3}\d{4}")   
pattern.findall(txt)

['5555555555']

**compile()**

In [ ]:
import re
string = 'a=5\nb=6\nsum=a+b\nprint("Sum:",sum)'
object1 = compile(string, 'sumstring', 'exec')
exec(object1)

Sum: 11

**search()**

In [ ]:
pat = ['Python', 'standard']
string = "Python is a high level language"
for pattern in pat:
  print('Finding "%s" in "%s"'%(pattern,string))
  if re.search(pattern,string):
    print("Match found")
else:
  print("No match")

Finding "Python" in "Python is a high level language"
Match found
Finding "standard" in "Python is a high level language"
No match

**To implement different functions on matched objects**

In [ ]:
import re
pat = 'Python'
string = "Python is a high level language"
match = re.search(pat,string)
s = match.start()
print(s)
e = match.end()
print(e)
sp = match.span()
print(sp)
print('The pattern %s is found in %s from %d to %d("%s")'%(match.re.pattern,match.string, s,e,string[s:e]))

0
6
(0, 6)
The pattern Python is found in Python is a high level language from 0 to 6("Python")

**match()**

In [ ]:
pat = 'high'
string = "Python is a high level language"
print('String:', string)
print('Pattern:', pat)
match = re.match(pat, string)
print("If any match found:", match)
string1 = "high voltages are very dangerous"
print('String:', string1)
print('Pattern:', pat)
match1 = re.match(pat, string1)
print("If any match found:", match1)

String: Python is a high level language
Pattern: high
If any match found: None
String: high voltages are very dangerous
Pattern: high
If any match found: <re.Match object; span=(0, 4), match='high'>

**findall()**

In [ ]:
pattern = 'Python'
string = 'My favourite language is Python. Python is a high level language'
print("Using the findall()")
for match in re.findall(pattern,string):
  print("found %s in %s"% (pattern,string))
  print("Using search()")
  if re.search(pattern,string): 
    print("Match")
else:
  print("None")

Using the findall()
found Python in My favourite language is Python. Python is a high level language
Using search()
Match
found Python in My favourite language is Python. Python is a high level language
Using search()
Match
None

**split()**

In [ ]:
lines = ["FName: sam, LName: Kleene, Designation: Developer ","FName: ram, LName: Gor, Designation: tester","FName: Rahul, LName: Kaur, Designation: Analyst ",]
print("Using split()")
for line in lines:
  print(re.split(",* *\w*: ", line))

Using split()
['', 'sam', 'Kleene', 'Developer ']
['', 'ram', 'Gor', 'tester']
['', 'Rahul', 'Kaur', 'Analyst ']

**sub()**

In [ ]:
import re
string = 'My favourite language is Python. Python is a high level language'
result = re.sub('language','Java',string)
print(result)

My favourite Java is Python. Python is a high level Java